page-login {
    .dashboard-item {
        border: 1px solid;
        min-height: 150px;
        min-width: 150px;
        width: 33.3%;
        padding:20px;
        text-align:center;

        &__header {
            font-size: 2rem;
        }

        &__value {
            font-size:5rem;
        }
    }

}
