tour-card {
	img {
		height:100%;
	}
	.ttype {
		padding-top:3px;
		color:#999999;
		font-size:1.2rem;
	}
	ul {
		padding-left: 0px;
		margin-bottom:0px;
		li {
			list-style:none;
			padding-top:3px;
			padding-bottom:3px;

			ion-icon {
				padding-right: 5px;
			}
		}
	}
}