<ion-card>
	<ion-grid>
		<ion-row>
			<ion-col col-5>
				<img src="{{tour.img}}">
			</ion-col>
			<ion-col col-7>
				<h2>{{tour.name}}</h2>
				<p text-uppercase class="ttype">{{tour.type}}</p>
				<ul>
					<li><ion-icon name="people"></ion-icon>{{tour.pax}} to go</li>
					<li><ion-icon name="cash"></ion-icon>${{tour.price}}</li>
					<li><ion-icon name="compass"></ion-icon>{{tour.meet}}</li>
				</ul>
			</ion-col>
		</ion-row>
	</ion-grid>

	<!-- <ion-item>
		<img src="{{tour.img}}">
		<h2>{{tour.name}}</h2>
	</ion-item>
	<ion-card-content>
		<ul>
			<li>tour.pax</li>
			<li>tour.price</li>
			<li>tour.meet</li>
		</ul>
	</ion-card-content> -->
</ion-card>