page-tg-dashboard{
    .tg-dashboard-cards{
        display:flex;
        text-align: center;
        font-size: 15rem;
    }
    .tg-dashboard-card {
        margin:auto;
        width:33%;
        
    }
}
